@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-circle:before {
    content: "\f111";
}

.fa-check:before {
    content: "\f00c";
}

/** globals **/

body {
    font-family: "Lato", sans-serif;
}

.global-margin {
    margin-bottom: 10rem;
}

/** 404 **/
.404-list {
    margin-top: 4rem;
    margin-bottom: 0;
}

/** packages **/

.submit-btn {
    height: 41px!important;
    width: 200px!important;
    margin-top: 2px!important;
}

@media (max-width: 600px) {
    .submit-btn {
        width: auto!important;
    }
}

.content__packages {
    margin-top: 0;
    padding: 4rem 0;
}

.package-page {
    width: 65vw;
    margin: 2rem auto;
}

#efPackageHomeTitle~#efNameCheckSearch {
    display: block!important;
}

#efPackageHomeBuyLink {
   float: left;
   margin-top: 2rem;
}

@media (max-width: 768px) {
    .content__packages {
        margin-top: 2rem;
    }
}

.content__packages-nav-tabs {
    border: none;
    margin-top: 6rem;
}

.content__packages-nav-tabs-tab {
    border: none;
    background-color: #3179B0;
    height: 70px!important;
    font-family: "Lato", arial, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: -3px!important;
    -webkit-box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	cursor: not-allowed;
}

.content__packages-nav-tabs-tab--small {
    font-size: 1.1rem;
}

@media (max-width: 1600px) {
    .content__packages-nav-tabs-tab {
        width: 13%;
        margin-bottom: 0px!important;
    }
}

@media (max-width: 1440px) {
    .content__packages-nav-tabs-tab {
        width: 14%;
    }
}

@media (max-width: 1280px) {
    .content__packages-nav-tabs-tab {
        height: 80px!important;
    }
}

@media (max-width: 800px) {
    .content__packages-nav-tabs-tab {
        width: 100%;
        height: 55px!important;
        font-size: 15px;
    }
}

.content__packages-nav-tabs-tab > a {
    background-color: #3179B0;
    padding: 2rem!important;
    border-radius: 1px!important;
    margin-right: 0!important;
    color: #FFFFFF!important;
    min-width: 100px;
    text-align: center;
}

@media (max-width: 1200px) {
    .content__packages-nav-tabs-tab > a {
        padding: 2rem 1rem!important;
    }
}

@media (max-width: 850px) {
    .content__packages-nav-tabs-tab > a {
        padding: 1rem!important;
        height: 80px;
    }
}

.content__packages-nav-tabs-tab--staff {
    display: none!important;
}

.content__packages-nav-tabs-tab--staff > a {
    background-color: #e0d440;
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    color: #222222!important;
    border-color: #E57C27!important;
    background-color: #E57C27!important;
    color: #FFFFFF!important;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #222222!important;
    border: none!important;
    background-color: #FFFFFF!important;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.content__packages-tab {
    position: relative;
    height: 90vh;
    padding: 0 5rem;
    margin-top: -10px;
    background-color: #f3f3f3;
}

@media (max-width: 1200px) {
    .content__packages-tab {
        height: 100%;
        padding: 0 2rem 2rem 2rem;
    }
}

@media (max-width: 400px) {
    .content__packages-tab {
        padding: 0;
    }
}

.content__packages-tab-section-separator{
    border-color: #ccc;
    margin-bottom: 0;
    margin-top: 30px;
    width: 40%;
}

.content__packages-title {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 9rem;
    padding-top: 7rem;
}

@media (max-width: 1200px) {
    .content__packages-title {
        margin-bottom: 4rem;
        padding-top: 6rem;
    }
}

@media (max-width: 600px) {
    .content__packages-title {
        font-size: 2rem;
        font-weight: 500;
    }
}

@media (max-width: 400px) {
    .content__packages-title {
        margin-bottom: 3rem;
        padding: 4rem 2rem 0 2rem;
    }
}

.content__packages-title--no-margin {
    margin-bottom: 4rem;
    padding-top: 7rem;
}

.content__packages-title--multiple {
    padding-top: 4rem;
}

@media (max-width: 600px) {
    .content__packages-title--no-margin {
        margin-bottom: 3rem;
        padding-top: 5rem;
    }
}

.content__packages-intro {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8;
    margin: 3rem auto;
}

@media (max-width: 990px) {
    .content__packages-intro {
        width: 90%;
        margin: 2rem auto;
    }
}

@media (max-width: 400px) {
    .content__packages-intro {
        font-size: 1.4rem;
        line-height: 1.6;
    }
}

.content__packages-row {
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
}

.content__packages-package {
    position: relative;
    background-color: #FFFFFF;
    height: 550px;
    -webkit-box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

@media (max-width: 1200px) {
    .content__packages-package {
        margin-top: 2rem;
    }
}

.content__packages-package:hover {
    -webkit-box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px -3px 50px -10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.content__packages-package--single {
    width: 75%;
    margin: 0 auto;
}

@media (max-width: 990px) {
    .content__packages-package--single {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .content__packages-package--single {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .content__packages-package--single {
        width: 100%;
    }
}

.content__packages-package-title-area {
    position: relative;
    height: 60px;
    padding-top: 1rem;
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
}

.content__packages-package-title-area::after {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
}

.content__packages-package-title-area--special {
    background-color: #3179B0;
}

.content__packages-package-title-area--bronze {
    background-color: #B38439;
}

.content__packages-package-title-area--silver {
    background-color: #a7a7a7;
}

.content__packages-package-title-area--gold {
    background-color: #B8A65F;
}

.content__packages-packages-title {
    font-family: "Chaparral Pro", serif;
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(255,255,255,0.4);
}

.content__packages-package-image {
    width: 90px;
    margin: 3rem auto;
    display: block;
}

.content__packages-package-price {
    font-family: "Lato", arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.content__packages-package-price--special {
    color: #3179B0;
}

.content__packages-package-price--bronze {
    color: #B38439;
}

.content__packages-package-price--silver {
    color: #a7a7a7;
}

.content__packages-package-price--gold {
    color: #B8A65F;
}

.content__packages-package-price-currency {
    font-size: 1.75rem;
}

.content__packages-package-price-vat {
    display: block;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 0.2px;
}

.content__packages-package-contents {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: 2.5rem;
}

.content__packages-package-contents--single {
    padding: 0 3rem;
    line-height: 1.6;
}

.content__packages-package-content-item {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #222222;
}

@media (max-width: 1500px) {
    .content__packages-package-content-item {
        font-size: 1.25rem;
    }
}

@media (max-width: 990px) {
    .content__packages-package-content-item {
        font-size: 1.5rem;
    }
}

.content__packages-package-button {
    display: block;
    position: absolute;
    overflow: hidden;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    width: 150px;
    margin: 0 auto;
    border: none;
    padding: 1.25rem 2rem;
    text-align: center;
    font-family: "Lato", arial, sans-serif;
    font-weight: 600;
    font-size: 1.65rem;
    color: #FFFFFF!important;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.content__packages-package-button--wide {
    width: 180px;
}

.content__packages-package-button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF!important;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.content__packages-package-button--special {
    background-color: #3179B0;
}

.content__packages-package-button--bronze {
    background-color: #B38439;
}

.content__packages-package-button--silver {
    background-color: #a7a7a7;
}

.content__packages-package-button--gold {
    background-color: #B8A65F;
}

.content__packages-package-button > a,
.content__packages-package-button > a:hover,
.content__packages-package-button > a:focus,
.content__packages-package-button > a:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.content__packages-package-button--special:hover {
    background-color: #6387b5;
}

.content__packages-package-button--bronze:hover {
    background-color: #d4b27b;
}

.content__packages-package-button--silver:hover {
    background-color: #bbbbbb;
}

.content__packages-package-button--gold:hover {
    background-color: #c5ba8b;
}

/** landing/hero sections **/

.landing--account {
    display: block;
    height: 400px;
    overflow-y: hidden;
}

@media (max-width: 1600px) {
    .landing {
        margin-top: 5em;
    }
}

@media (max-width: 1600px) {
    .landing-box {
        margin-top: -22em
    }
}

@media (max-width: 1366px) {
    .landing-box {
        margin-top: -21em;
    }
}

@media (max-width: 1280px) {
    .landing-box {
        margin-top: -20em;
        padding: 4rem 3rem 1rem!important;
    }
}

@media (max-width: 1150px) {
    .landing-box {
        margin-top: -18em;
    }
}

@media (max-width: 1024px) {
    .landing-box {
        margin-top: -16.5em;
        padding: 3rem 2rem 1rem!important;
    }
}

@media (max-width: 991px) {
    .landing-box {
        position: absolute;
        top: 1rem;
        left: 0;
        right: 0;
        width: 90%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2rem!important;
    }
}

@media (max-width: 850px) {
    .landing-box {
        top: 2rem;
    }
}

@media (max-width: 600px) {
    .landing-hero-image {
        height: 200px;
    }
}

@media (max-width: 991px) {
    .landing-box h1 {
        font-size: 26px;
        margin-top: 1rem;
    }
}

@media (max-width: 991px) {
    .landing-box h2 {
        font-size: 15px;
    }
}

@media (max-width: 850px) {
    .landing-box h2 {
        display: none;
    }
}

@media (max-width: 991px) {
    .landing-box h3 {
        font-size: 16px;
        line-height: 12px;
    }
}

/** order progress bar **/

.order-progress-bar {
    width: 70%;
    margin: 2.5rem auto 0;
}

@media (max-width: 1280px) {
    .order-progress-bar {
        width: 80%;
        margin: 0px auto;
    }
}

@media (max-width: 1150px) {
    .order-progress-bar {
        display: none;
    }
}

.order-progress-bar__section {
    position: relative;
    width: 100%;
}

.order-progress-bar__section-number {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    padding: 1rem 1.6rem;
    background-color: #FFFFFF;
    border-radius: 150px;
    font-family: "Lato", arial, sans-serif;
    font-weight: 700;
    font-size: 1.35rem;
    color: #1a518c;
    z-index: 99;
}

#orderProgressBarNumberOne {
    padding: 1rem 1.5rem;
}

#orderProgressBarNumberFour {
    padding: 1rem 1.5rem;
}

.order-progress-bar__section-number--end {
    position: absolute;
    right: -2rem;
    top: 0;
    padding: 1rem 1.4rem!important;
}

.order-progress-bar__section-text {
    position: absolute;
    left: 0;
    right: -15%;
    top: -1rem;
    font-family: "Lato", arial, sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 1440px) {
    .order-progress-bar__section-text {
        right: -25%;
    }
}

.order-progress-bar__bar {
    display: block;
    position: absolute;
    right: -4%;
    top: 1.65rem;
    height: 7px;
    width: 85%;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}

.order-progress-bar-container {
    background-color: #175878;
    width: 100%;
    padding: 6rem;
	margin-top: 8rem;
}

@media (max-width: 1150px) {
    .order-progress-bar-container {
        padding: 2px;
    }
}

/*******************JS Classes*********************/

.js__hide {
    display: none!important;
}

.js__emulation--active {
    display: block!important;
}

.js__order-progress-bar__section-number--complete {
    background-color: #2eab2e;
    color: #FFFFFF;
}

.js__order-progress-bar__section-number--current {
    background-color: #E57C27;
    color: #FFFFFF;
}

.js__order-progress-bar__bar--complete {
    left: 12%;
    width: 100%;
    background-color: #2eab2e;
}

.js__order-progress-bar--order .js__order-progress-bar__bar--complete {
    left: 13%;
}

.js__namecheck_packagePage {
    margin-top: 2rem;
 }

@media (max-width: 1500px) {
    .js__order-progress-bar__bar--complete {
        left: 15%;
    }
}

@media (max-width: 1400px) {
    .js__order-progress-bar__bar--complete {
        left: 14%;
    }
}

@media (max-width: 1366px) {
    .js__order-progress-bar__bar--complete {
        left: 16%;
    }
}

@media (max-width: 1280px) and (max-height: 703px) {
    .js__order-progress-bar__bar--complete {
        left: 15%;
    }
}

.js__order-progress-bar-complete--smaller {
    right: -4rem;
}

/************** NAMECHECK BOX STYLES **********************/

.namecheck_box_red {
	border: 2px solid #FE4C2C;
	padding: 1em;
}

.namecheck_box_green {
	border: 2px solid #009A50;
	padding: 1em;
}

.namecheck_box_amber {
	border: 2px solid #FA8721;
	padding: 1em;
}

/** ====================
===== EF Overrides =====
==================== **/

/** general **/

#efNameCheckPackage_tenstar {
    display: none!important;
}

#efNameCheckSearch {
    display: none!important;
}

/** buy page **/

#efContinueExistingPackageOrder {
    font-family: "Lato", sans-serif;
    font-size: 1.75rem;
    color: #444444;
}

@media (max-width: 700px) {
    #efContinueExistingPackageOrder {
        overflow-x: scroll;
    }
}

#efPackageBuyPackageNameHeader {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

#efPackagePurchaseOptionsContainer,
#efGoPayNowForm {
    border: 1px solid #dedede;
    padding: 1rem 4rem;
    background-color: whitesmoke;
    border-radius: 1px;
}

#efGoPayNowForm {
    padding: 3rem 4rem;
}

@media (max-width: 500px) {
    #efGoPayNowForm {
        padding: 5px!important;
    }
}

#efIncludedTable,
#efOptionalTable,
#cartPage ~ div .efTable,
#efOutputOptionsContainer {
    border: 1px solid #d8d8d8;
}

#efPackageIncludedItemsTitle,
#efPackageOptionalItemsTitle {
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: underline;
}

#efIncludedTable > thead > tr,
#efOptionalTable > tbody > tr:first-child,
#cartPage ~ div .efTable:not(.efTableVeryCondensed) > tbody > tr:first-child,
#efOutputOptionsContainer > .efPanelHeader,
#efContinueExistingPackageOrder > table > tbody > tr:first-child,
.efTable > tbody > tr.efTableSubheader {
    background-color: #175878!important;
    height: 50px!important;
    background-image: none!important;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 1.6rem;
    color: #FFFFFF;
}

#efContinueExistingPackageOrder > table {
    margin-top: 4rem;
    border: 1px solid #d8d8d8;
}

#efContinueExistingPackageOrder > table > tbody > tr > td > button,
#efContinueExistingPackageOrder > table > tbody > tr > td > form > button {
    background-color: #17a556;
    border: none;
    background-image: none!important;
    padding: 5px 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

#efContinueExistingPackageOrder > table > tbody > tr > td > form > button {
    background-color: #ff4945;
}

#efPackageStartNew > span {
    background-color: #17a556;
    background-image: none!important;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.efTableVeryCondensed > tbody > tr:first-child {
    background-color: #ffffff!important;
}

.efPanelContentVeryCondensed {
    padding: 0!important;
}

.efPanelContentVeryCondensed > .efTableVeryCondensed {
    width: 100%!important;
}

#efEverythingOptionalContainer {
    margin-top: 6rem;
}

@media (max-width: 600px) {
    #efEverythingOptionalContainer {
        width: 100%;
        overflow-x: scroll;
    }
}

.efIncludedItemTableRow > td,
.efOptionalTrProduct > td,
#cartPage ~ div .efTable > tbody > tr {
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid #f3f3f3;
}

#cartPage ~ div .efCompanyNameRow {
    background-color: #f9f9f9;
}

.efOptionalTrProduct > td:nth-child(5) {
    text-align: center!important;
}

.efTableSubheader > td {
    background-color: #d4d4d4;
    color: #222222;
}

#efPackageNet,
#efPackageTax,
#efPackageTotal,
#efNetTotalRow,
#efVatTotalRow,
#efTotalPriceRow {
    background-color: #598bbc!important;
    padding: 1rem!important;
    font-size: 1.75rem!important;
    font-family: "Lato", sans-serif!important;
    margin-top: 0!important;
    color: #FFFFFF!important;
}

#efPackageTotal,
#efTotalPriceRow,
#efTotalPriceRow > td {
    background-color: #175878!important;
    color: #FFFFFF!important;
    font-size: 2rem!important;
}

#efOutputOptionsContainer > div {
    padding: 1.5rem;
}

#efOutputOptionsContainer > div > img {
    margin-top: 3px;
}

#efPackageAgreeTerms {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: "Lato", sans-serif;
    font-size: 1.75rem;
    color: #222222;
}

#tcagree {
    vertical-align: -2px;
    margin-right: 5px;
}

#tcagree + a {
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: inline-block;
}

#ef-checkout-action {
    position: absolute;
    left: 7rem;
    bottom: 5rem;
    background-color: #17a556;
    background-image: none!important;
    margin: 0 auto;
    border: none;
    padding: 1.5rem 2rem;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.75rem!important;
    letter-spacing: 0.2pt;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

#efPackageCheckoutButton {
    background-color: #17a556;
    background-image: none!important;
    width: 150px;
    margin: 0 auto;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

#efOptionalIncludedTable {
    display: none;
    margin-top: -1px;
    border: 1px solid #d8d8d8;
    border-top-color: #FFFFFF;
}

#efOptionalIncludedTable > tbody > tr {
    background-color: #FFFFFF;
}

#efOptionalIncludedTable > tbody > tr.ui-widget-header {
    background-color: #d4d4d4!important;
    background-image: none!important;
    color: #222222!important;
    font-weight: 600!important;
    font-family: "Lato", sans-serif!important;
    font-size: 1.5rem!important;
    letter-spacing: 0.2pt!important;
}

.efPackageTable .efButton {
    background-color: #3179b0;
    background-image: none!important;
    border: none;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.efOptionalIncludedTable > tbody > .ui-widget-header {
    background-color: #f9f9f9;
    font-weight: 600;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
    background-color: #FFFFFF;
    border: 1px solid #437087;
    padding: 0 0 1rem;
    font-family: "Lato", sans-serif;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.4);
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    background-image: none!important;
    background-color: #5588ae;
    color: #FFFFFF;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.75rem;
    font-size: 1.5rem;
    border-radius: 2px 2px 0 0;
    border: none;
}

.ui-dialog-titlebar-close {
    float: right;
}

.ui-widget-content a {
    color: #2b7cc3!important;
    text-decoration: underline!important;
}

#efPaymentOptions {
    padding: 2rem;
}

#efPaymentOptions span.efButton {
    background-color: #17a556;
    border: none;
    padding: 7px 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

/** account **/

#efAuthenticatedContent {
    font-family: "Lato", sans-serif;
    font-size: 1.75rem;
}

.efAccountMenu {
    padding: 1rem!important;
    background-color: #3179b0!important;
    border: 1px solid #3179b0!important;
    background-image: none!important;
    border-radius: 2px!important;
    margin-bottom: 3rem!important;
    margin-top: 3rem!important;
}

.efAccountMainMenuLi > a {
    color: #FFFFFF!important;
    background-color: #3179b0!important;
    border: 1px solid #3179b0!important;
    background-image: none!important;
    text-decoration: none!important;
	font-family: "Lato", sans-serif!important;
    font-size: 1.75rem!important;
}

.efAccountMenuTabs {
    margin-top: 3px!important;
}

#efMyAccountOrderControls .eftable {
    overflow-x: scroll;
}

#efPendingOrdersControl .efTableSubheader > td {
    background-color: #1A4F85!important;
}

#efPendingOrdersControl .efPanelContent {
    border: 1px solid #d8d8d8;
}

#efMyAccountGlance > div > .efPanelHeader {
    background-color: #3179b0!important;
    height: 50px!important;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 14px 7px;
}

#company-search {
    background-color: #01A551!important;
    border: 1px solid #01A551!important;
    background-image: none!important;
    padding: 0!important;
}

#efPaymentAuthorityWidget > div > p > input {
    background-color: #01A551!important;
    border: 1px solid #01A551!important;
    background-image: none!important;
    width: 230px;
    padding: 2px;
    color: #FFFFFF;
}

.efTextInput+.efButton {
    background-color: #17a556;
    border: none;
    padding: 7px 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    width: 140px;
    height: 32px;
}

.efAccountPanel > div > form > p > input.efButton {
    background-color: #01A551!important;
    border: 1px solid #01A551!important;
    background-image: none!important;
    padding: 0px!important;
    font-size: 1.2rem!important;
    color: #FFFFFF!important;
}

p > .efButton {
    background-color: #17a556;
    border: none;
    padding: 7px 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    width: 140px;
    height: 32px;
}

#efLoginContainer p > .efButton {
    display: block;
    float: none!important;
    margin-top: 4rem!important;
}

#efLoginBoxHeader {
	background: #0B506D;
	color: #fdffff;
}

#efLoginContainer p > .efButton {
    display: block;
    float: none!important;
    margin-top: 4rem!important;
    background-image: none!important;
    background-color: #598bbc;
    color: #FFFFFF !important;
    padding: 1rem;
    height: 44px;
}

#reminder > form > p > input.efButton {
    background-image: none!important;
    background-color: #598bbc;
    color: #FFFFFF !important;
    padding: 1rem;
    height: 44px;
}

.efAccountMenuTabs ul {
    background-color: #3179b0!important;
    border: 1px solid #3179b0!important;
    background-image: none!important;
    padding: 2rem;
    margin-left: -11px;
}

.efAccountSubMenuLi {
    padding-top: 6px;
}

.efAccountSubMenuLi > a {
    color: #FFFFFF;
    background-color: #3179b0!important;
    border: 1px solid #3179b0!important;
    background-image: none!important;
    text-decoration: none!important;
}

.efAccountMenuTabs .efAccountSubMenuLi a {
    background-color: #3179b0!important;
    border: 1px solid #3179b0!important;
    color: #FFFFFF!important;
    background-image: none!important;
    text-decoration: none!important;
	font-family: "Lato", sans-serif!important;
    font-size: 1.75rem!important;
}

.efAccountSubMenuLi > a:hover,
.efAccountSubMenuLi > a:active,
.efAccountSubMenuLi > a:focus,
.efAccountSubMenuLi > a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.efAccountPanel > .efPanelHeader {
    background-color: #3179b0!important;
    color: #FFFFFF!important;
    background-image: none!important;
}

.efPanelContent {
    padding: 2rem!important;
}

.additional-document-5755 > div > div > div.ef-include-chfee {
    display: block!important;
}

.additional-document-5755 > div > div > div.ef-exclude-chfee {
    display: none!important;
}

.efMoreInfo.ui-dialog-content {
    padding-left: 1rem;
    padding-bottom: 0rem;
    padding-top: 1rem;
    height: 100%!important;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
}

#efEmulationWidget {
    position: fixed;
    top: 69px;
    left: 0;
    width: 100%;
    padding: 7px 1rem;
    background-color: #fff793;
    border: 1px solid red;
    z-index: 99999;
    box-shadow: none!important;
}

/** order process **/

#orderPage+div > .order-progress-bar-container {
    margin-bottom: 5rem!important;
}

.ef-information-box-title {
    font-family: "Lato", sans-serif;
    font-size: 1.9rem;
    margin-top: 0px;
    margin-bottom: 15px;
}

.ef-information-box > p {
    font-size: 1.5rem!important;
    color: #444444!important;
    line-height: 1.8!important;
    padding-right: 5rem!important;
}

form[name="ef-order-form"] {
    font-family: "Lato", sans-serif!important;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: "Lato", sans-serif!important;
    font-size: 1.6rem!important;
    letter-spacing: 0.2pt!important;
}

label {
    font-size: 1.75rem!important;
    font-family: "Lato", sans-serif!important;
    letter-spacing: 0.2pt!important;
    margin-bottom: 10px!important;
    color: #444444!important;
}

.ef-sic-code {
    font-size: 1.25rem!important;
    color: #222222!important;
    font-weight: 600!important;
}

#postcodes {
    font-size: 1.6rem!important;
    color: #444444!important;
}

#postcodes .ef-btn.ef-primary-btn {
    float: right!important;
}

#officer-topdog,
#officer-holder,
#officer-secretary,
#officer-PSC {
    margin-right: 6px!important;
    margin-top: 8px!important;
}

.ef-consent-to-act-label {
    margin-left: 6px!important;
}

.ef-consent-to-act-checkbox {
    margin-top: 10px!important;
}

.ef-tab-link {
    font-weight: 600!important;
    font-size: 1.5rem!important;
    color: #444444!important;
}

.efPaymentFromOption {
    padding: 0!important;
}

#confirmationPage ~ div p > .efButton {
    height: auto!important;
	width: auto;
    background-image: none;
    background: #598bbc;
}

@media (max-width: 992px) {
    #orderPage+div section.content__section > .container {
        width: 100%!important;
    }
}

@media (max-width: 700px) {
    #orderPage+div section.content__section > .container {
        padding: 0!important;
    }
}

@media (max-width: 700px) {
    #orderPage+div section.content__section > .container > div > div > #efPageContent {
        padding: 5px!important;
    }
}

@media (max-width: 600px) {
    #orderPage+div section.content__section > .container > div > div > #efPageContent > form > div.ef-documents-step {
        padding: 0!important;
    }
}

.ef-btn.ef-primary-btn.ef-postcode-lookup-btn {
    padding: 7px!important;
    margin-top: 1px!important;
}

.ef-cancel-btn {
    font-family: "Lato", sans-serif!important;
}

.ef-add-officer {
    font-family: "Lato", sans-serif!important;
    background-color: #3179b0!important;
    background-image: url(/assets/efiling/wizard-v2/images//addperson@High.png)!important;
    border-color: #3179b0!important;
}

.ef-nav-section-link {
    background-color: #3179b0!important;
    border: none!important;
    padding: 20px!important;
    color: #fff !important;
    font-family: "Lato", sans-serif!important;
    font-weight: 100!important;
    letter-spacing: 0.2pt!important;
    box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.8);
}

@media (max-width: 479px) {
    .ef-nav-section-link {
        padding: 10px 20px!important;
    }
}

.ef-nav-section-link > a,
.ef-nav-section-link > a:hover,
.ef-nav-section-link > a:visited {
    color: #FFFFFF!important;
    text-decoration: none!important;
}

.ef-nav-section-link.current {
    background-color: #175878!important;
}

.ef-nav-section-link.current > a,
.ef-nav-section-link.current > a:hover,
.ef-nav-section-link.current > a:visited {
    color: #FFFFFF!important;
    text-decoration: none!important;
}

.ef-order-form-nav-step-wrapper {
    padding-top: 10px!important;
    padding-bottom: 5px!important;
    padding-left: 5px!important;
    background-color: #175878!important;
    font-family: "Lato", sans-serif!important;
    letter-spacing: 0.2pt!important;
}

.ef-order-form-nav-step-content a {
    width: 25% !important;
    line-height: 1.5rem!important;
    font-size: 1.5rem!important;
}

.ef-order-form-nav-step-content a,
.ef-order-form-nav-step-content a:hover,
.ef-order-form-nav-step-content a:visited {
    color: #FFFFFF!important;
    text-decoration: none!important;
}

.ef-panel-wrapper {
    border-right: 1px solid #18508C!important;
    border-bottom: 1px solid #18508C!important;
    border-left: 1px solid #18508C!important;
}

#ef-panel-title {
    padding-left: 40px!important;
    background-color: #175878!important;
    color: #FFFFFF !important;
}

#ef-panel-title > h1 {
    font-size: 2rem!important;
    padding: 14px!important;
    color: #FFFFFF!important;
    letter-spacing: 0.2pt!important;
}

#ef-panel-title.head-01,
#ef-panel-title.head-02,
#ef-panel-title.head-03,
#ef-panel-title.head-04,
#ef-panel-title.head-05 {
    background-position: 14px 50%!important;
    background-size: 30px!important;
}

.ef-alert-box.fail {
    border-color: #e09696!important;
    background-color: #f2dede!important;
    color: #a94442!important;
    padding: 1rem 2rem!important;
    font-family: "Lato", sans-serif!important;
    font-weight: 600!important;
}

#ef-panel-content {
    padding-top: 0!important;
}

.ef-next-prev-btn > .w-col {
    padding-left: 0!important;
    padding-right: 0!important;
}

.ef-btn.ef-primary-btn {
    background-color: #598bbc!important;
    border-color: #598bbc!important;
    font-family: "Lato", sans-serif!important;
    font-weight: 600;
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    .ef-btn.ef-primary-btn:not(.ef-edit-btn, #ef-namecheck-button) {
        position: absolute;
        right: 14rem!important;
    }
}

@media (max-width: 500px) {
    .ef-document-box-0 > div > div >.ef-btn.ef-primary-btn {
        right: 2rem!important;
    }
}

@media (max-width: 479px) {
    .ef-alert-box.ef-btn.ef-primary-btn:not(.ef-btn.ef-primary-btn.ef-choose-btn, .ef-btn.ef-primary-btn.ef-alt-btn.ef-edit-btn) {
        width: 70px;
        font-size: 1.25rem;
        padding: 8px;
    }
}

@media (max-width: 479px) {
    .ef-btn.ef-primary-btn:not(.ef-btn.ef-primary-btn.ef-choose-btn, .ef-btn.ef-primary-btn.ef-alt-btn.ef-edit-btn) {
        width: auto!important;
    }
}

.ef-btn.ef-primary-btn.ef-alt-btn {
    background-color: #FFFFFF!important;
    color: #2eab2e!important;
}

.ef-btn.prevstep,
.ef-btn.nextstep {
    color: #18508c!important;
    border: 2px solid #18508c!important;
    width: 60%!important;
    font-family: "Lato", sans-serif!important;
    font-size: 1.7rem!important;
    letter-spacing: 0.2pt!important;
    padding: 1rem 0 1.25rem!important;
    -webkit-transition: all 300ms ease-in!important;
    transition: all 300ms ease-in!important;
}

@media (max-width: 992px) {
    .ef-btn.prevstep,
    .ef-btn.nextstep {
        width: 100%!important;
        padding: 8px 18px 9px!important;
    }
}

.ef-btn.prevstep {
    background-image: url(/assets/custom/files/site/img/orderprocess/chevron-left.png)!important;
    background-position: 3% 50%!important;
}

.ef-btn.nextstep {
    background-image: url(/assets/custom/files/site/img/orderprocess/chevron-right.png)!important;
    background-position: 97% 50%!important;
}

.ef-btn.prevstep:hover,
.ef-btn.prevstep:focus {
    background-image: url(/assets/custom/files/site/img/orderprocess/chevron-left-white.png)!important;
    background-color: #18508c!important;
    color: #FFFFFF!important;
    text-decoration: none!important;
    -webkit-transition: all 300ms ease-in!important;
    transition: all 300ms ease-in!important;
}

.ef-btn.nextstep:hover,
.ef-btn.nextstep:focus {
    background-image: url(/assets/custom/files/site/img/orderprocess/chevron-right-white.png)!important;
    background-color: #18508c!important;
    color: #FFFFFF!important;
    text-decoration: none!important;
    -webkit-transition: all 300ms ease-in!important;
    transition: all 300ms ease-in!important;
}

.additional-document {
    font-family: "Lato", sans-serif!important;
    font-size: 1.8rem!important;
    letter-spacing: 0.2pt!important;
}

.additional-document ~ .ef-item-details {
    padding-left: 2.75rem!important;
    width: 60%!important;
}

@media (max-width: 1200px) {
    .additional-document ~ .ef-item-details {
        width: 100%!important;
    }
}

.additional-document ~ .ef-item-details > h3 {
    font-size: 1.8rem!important;
}

.additional-document ~ .ef-item-details > p {
    padding-left: 2px!important;
}

@media (max-width: 992px) {
    .additional-document > .w-col.w-col-3.w-clearfix.add-col,
    .ef-document-box-0 > .w-col.w-col-3.w-clearfix.add-col {
        position: static!important;
    }
}

@media (max-width: 767px) {
    .additional-document > .w-col.w-col-3.w-clearfix.add-col {
        position: absolute!important;
        right: -5rem!important;
    }
}

@media (max-width: 600px) {
    .additional-document > .w-col.w-col-3.w-clearfix.add-col {
        right: -4rem!important;
    }
}

@media (max-width: 767px) {
    .additional-document:not(.ef-alert-box) > .w-col.w-col-3.w-clearfix.add-col {
        right: -20rem!important;
    }
}

@media (max-width: 600px) {
    .additional-document:not(.ef-alert-box) > .w-col.w-col-3.w-clearfix.add-col {
        right: -16rem!important;
    }
}

@media (max-width: 500px) {
    .additional-document:not(.ef-alert-box) > .w-col.w-col-3.w-clearfix.add-col {
        right: -12rem!important;
    }
}

@media (max-width: 479px) {
    .additional-document:not(.ef-alert-box) > .w-col.w-col-3.w-clearfix.add-col {
        right: -30rem!important;
    }
}

@media (max-width: 400px) {
    .additional-document:not(.ef-alert-box) > .w-col.w-col-3.w-clearfix.add-col {
        right: -23rem!important;
    }
}

@media (max-width: 350px) {
    .additional-document:not(.ef-alert-box) > .w-col.w-col-3.w-clearfix.add-col {
        right: -18rem!important;
    }
}

@media (max-width: 500px) {
    .additional-document > .w-col.w-col-3.w-clearfix.add-col {
        right: -12rem!important;
    }
}

@media (max-width: 479px) {
    .additional-document > .w-col.w-col-3.w-clearfix.add-col {
        right: -9rem!important;
        top: 2.5rem;
    }
}

@media (max-width: 400px) {
    .additional-document > .w-col.w-col-3.w-clearfix.add-col {
        right: -6rem!important;
    }
}

@media (max-width: 350px) {
    .additional-document > .w-col.w-col-3.w-clearfix.add-col {
        right: -3rem!important;
    }
}

@media (max-width: 500px) {
    .ef-btn.ef-add-officer.nominee {
        width: 150px!important;
    }
}

@media (max-width: 992px) {
    .ef-btn.ef-primary-btn:not(.ef-bank-add-btn, .ef-namecheck-button) {
        position: absolute!important;
        right: 11rem!important;
        width: 100px!important;
    }
}

@media (max-width: 767px) {
    .ef-btn.ef-primary-btn:not(.ef-bank-add-btn, .ef-namecheck-button) {
        top: 2rem!important;
    }
}

@media (max-width: 479px) {
    .ef-btn.ef-primary-btn:not(.ef-partner-contact-btn) {
        width: 70px!important;
        height: 30px!important;
        padding: 5px!important;
        margin-top: -1rem!important;
    }
}

@media (max-width: 479px) {
    .ef-btn.ef-primary-btn:not(.ef-edit-btn) {
        width: 70px!important;
        height: 30px!important;
        padding: 5px!important;
        margin-top: -1rem!important;
    }
}

@media (max-width: 992px) {
    .ef-btn.ef-primary-btn.item-show-details {
        right: 1rem!important;
    }
}

@media (max-width: 500px) {
    .ef-btn.ef-primary-btn.item-show-details {
        top: 4.5rem!important;
        right: 14rem!important;
    }
}

@media (max-width: 479px) {
    .ef-btn.ef-primary-btn.item-show-details {
        width: 70px!important;
        height: 30px!important;
        padding: 5px!important;
    }
}

@media (max-width: 767px) {
    .item-box-price {
        position: static!important;
        top: 1.5rem!important;
        right: 35%!important;
    }
}

@media (max-width: 767px) {
    .ef-item-content:not(.ef-alert-box) > div > .item-box-price {
        top: -4rem!important;
    }
}

@media (max-width: 479px) {
    .ef-item-content:not(.ef-alert-box) > div > .item-box-price {
        top: -6.5rem!important;
    }
}

@media (max-width: 350px) {
    .ef-item-content:not(.ef-alert-box) > div > .item-box-price {
        top: -1.5rem!important;
        right: 3rem!important;
    }
}

@media (max-width: 479px) {
    .item-box-price {
        right: 8rem!important;
    }
}

@media (max-width: 350px) {
    .item-box-price {
        right: 7rem!important;
        bottom: 1rem!important;
        top: auto!important;
    }
}

@media (max-width: 992px) {
    .item-box-price > .price {
        font-size: 2rem!important;
        margin-top: 1rem!important;
        margin-right: 6rem!important;
    }
}

@media (max-width: 400px) {
    .item-box-price > .price {
        font-size: 1.5rem!important;
    }
}

@media (max-width: 992px) {
    .ef-document-box-0 > div > div > .item-box-price > .price {
        margin-right: 0!important;
    }
}

@media (max-width: 500px) {
    .item-box-price > .price {
        margin-right: 2rem!important;
    }
}

@media (max-width: 350px) {
    .item-box-price > .price {
        font-size: 1.5rem!important;
    }
}

@media (max-width: 767px) {
    .additional-document > div.w-col.w-col-6 > p,
    .ef-document-box-0 > div.w-col.w-col-6 > p {
        text-align: left!important;
    }
}

@media (max-width: 767px) {
    .additional-document > div.w-col.w-col-6 > p {
        font-size: 1.3rem!important;
        width: 90%!important;
    }
}

@media (max-width: 767px) {
    .additional-document:not(.ef-alert-box) > div.w-col.w-col-6 > p {
        width: 40%!important;
    }
}

@media (max-width: 600px) {
    .additional-document > div.w-col.w-col-6 > p {
        width: 80%!important;
    }
}

@media (max-width: 400px) {
    .additional-document > div.w-col.w-col-6 > p {
        width: 100%!important;
    }
}

.hr-line-1 {
    margin-top: 15px!important;
    width: 95%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.ef-document-box.ef-alert-box,
.ef-alert-box.additional-document {
    width: 95%!important;
    margin: 2rem auto!important;
    font-family: "Lato", sans-serif!important;
    font-size: 1.5rem!important;
}

@media (max-width: 500px) {
    .ef-document-box.ef-alert-box,
    .ef-alert-box.additional-document {
        height: 120px!important;
    }
}

@media (max-width: 400px) {
    .ef-document-box.ef-alert-box,
    .ef-alert-box.additional-document {
        height: 100%!important;
        min-height: 120px!important;
    }
}

.ef-alert-box.additional-document > div {
    margin-top: 1rem!important;
}

@media (max-width: 767px) {
    .ef-alert-box.additional-document > div {
        width: 50%!important;
    }
}

@media (max-width: 767px) {
    .ef-alert-box.additional-document > div.ef-qty-col {
        position: absolute!important;
        right: 12%!important;
    }
}

@media (max-width: 500px) {
    .ef-alert-box.additional-document > div.ef-qty-col {
        right: 4rem!important;
        top: 5rem!important;
        width: 70%!important;
    }
}

@media (max-width: 479px) {
    .ef-alert-box.additional-document > div.ef-qty-col {
        right: 6rem!important;
        top: 5rem!important;
    }
}

@media (max-width: 450px) {
    .ef-alert-box.additional-document > div.ef-qty-col {
        right: 1rem!important;
    }
}

@media (max-width: 350px) {
    .ef-alert-box.additional-document > div.ef-qty-col {
        top: 11rem!important;
        right: -4rem!important;
    }
}

.ef-alert-box.additional-document > div:nth-child(3) {
    margin-top: 0.5rem!important;
}

@media (max-width: 992px) {
    .ef-alert-box.additional-document > div:nth-child(3),
    .ef-alert-box.ef-document-box-0 > div:nth-child(3) {
        position: static!important;
    }
}

.ef-document-box.ef-alert-box > div > div:first-child {
    margin-top: 1rem!important;
}

@media (max-width: 767px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:first-child {
        width: auto!important;
    }
}

@media (max-width: 500px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:first-child {
        margin-top: 2rem!important;
    }
}

@media (max-width: 500px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:first-child > p {
        width: 70%!important;
        text-align: left!important;
    }
}

@media (max-width: 400px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:first-child {
        margin-top: 2rem!important;
    }
}

.ef-document-box.ef-alert-box > div > div:last-child {
    margin-top: 0.5rem!important;
}

.ef-document-box-0.ef-document-box.ef-alert-box > div > div:last-child {
    position: static!important;
}

@media (max-width: 767px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:nth-child(2) {
        position: static!important;
    }
}

@media (max-width: 767px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:nth-child(2) > .item-box-price {
        top: 0.75rem!important;
        right: 35%!important;
    }
}

@media (max-width: 500px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:nth-child(2) > .item-box-price {
        top: 2.75rem!important;
        right: 14rem!important;
    }
}

@media (max-width: 350px) {
    .ef-document-box-0.ef-document-box.ef-alert-box > div > div:nth-child(2) > .item-box-price {
        top: 7rem!important;
        right: 4rem!important;
    }
}

@media (max-width: 767px) {
    .add-bt-0:not(.ef-choose-ma) {
        position: absolute!important;
        top: 1.5rem!important;
        right: 2rem!important;
    }
}

@media (max-width: 500px) {
    .add-bt-0 {
        top: 3rem!important;
    }
}

#ef-documents-title,
#ef-documents-description,
#ef-additional-documents-title,
#ef-additional-documents-description {
    padding-left: 2.5rem!important;
    font-size: 1.75rem!important;
}

.ef-document-box > div > div > p {
    font-size: 1.75rem;
}

.ef-document-box.ef-alert-box > div > div > p {
    font-size: 1.5rem;
    margin-top: -5px;
}

.ef-form-wrap.upload-box.upload-box-1.ef-hide {
    overflow: visible!important;
}

.ef-forwarding-address {
    padding: 10px 2px 10px!important;
}

.ef-btn.ef-primary-btn.ef-submit-btn {
    background-color: #2eab2e!important;
    border-color: #2eab2e!important;
    font-size: 1.5rem!important;
}

.ef-use-own-address-btn {
    background-color: #598bbc!important;
    border-color: #598bbc!important;
}

#ef-view-summary {
    float: none!important;
    position: absolute!important;
    top: 2.5rem!important;
    right: 0!important;
    font-size: 1.6rem!important;
}

@media (max-width: 500px) {
    #ef-view-summary {
        display: block;
        position: static!important;
        width: 100%!important;
        margin-top: 1rem!important;
    }
}

.panel-review {
    font-size: 1.5rem;
    color: #444444;
}

.ef-review-section-title {
    margin-left: 0!important;
    padding-left: 0!important;
    margin-bottom: 2rem!important;
}

.ef-review-particulars-wrapper,
.ef-review-appointments,
.ef-review-documents,
.ef-review-banking,
.ef-review-business-address-wrapper {
    position: relative!important;
    margin-bottom: 2.5rem!important;
    border: 1px solid #18508c!important;
}

.ef-review-particulars-wrapper > h3,
.ef-review-appointments > h3,
.ef-review-documents > h3,
.ef-review-business-address-wrapper > h3,
.ef-review-banking+h3 {
    position: absolute!important;
    top: -10px!important;
    height: 50px!important;
    width: 100%!important;
    padding: 0.9rem 1.5rem!important;
    background-color: #175878!important;
    color: #FFFFFF!important;
}

.ef-review-particulars-wrapper > div,
.ef-review-appointments > div,
.ef-review-documents > div,
.ef-review-banking > div,
.ef-review-business-address-wrapper > div {
    position: relative!important;
    margin-top: 6rem!important;
    margin-left: 1.5rem!important;
}

.ef-review-particulars-wrapper > div > div,
.ef-review-appointments > div > div,
.ef-review-documents > div > div,
.ef-review-banking > div > div,
.ef-review-business-address-wrapper > div > div {
    width: 100%!important;
    position: static!important;
}

.ef-review-particulars-wrapper > div > div:last-child,
.ef-review-appointments > div > div > div,
.ef-review-documents > div > div:last-child > div,
.ef-review-banking > div > div:last-child,
.ef-review-business-address-wrapper > div > div:last-child {
    float: none !important;
    width: auto !important;
    position: static!important;
}

.ef-review-particulars-wrapper > div > div > button,
.ef-review-documents > div > div > button,
.ef-review-banking > div > div > button,
.ef-review-business-address-wrapper > div > div > button {
    position: absolute!important;
    top: -5rem!important;
    right: 1rem!important;
}

.ef-review-edit-wrapper > button.ef-btn.ef-primary-btn.ef-small-btn.ef-edit-btn {
    position: absolute!important;
    top: -5rem!important;
    right: 1rem!important;
}

#ef-next-prev-btn {
    width: 96%!important;
    margin: 0 auto!important;
}

.ef-review-cashback-text {
    font-family: "Lato", sans-serif;
    font-size: 1.75rem;
    padding-bottom: 5px;
}

.ef-review-cashback-terms {
    font-family: "Lato", sans-serif;
}

.ef-review-cashback-section > div > div.w-col.w-col-12 {
    padding-left: 3px!important;
}

.ui-state-error {
    background-color: #ffc1c1;
    border: 1px solid red;
    border-radius: 1px;
    padding: 1rem 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ui-state-error > p {
    margin: 0;
}

.ui-state-error > p::before {
    content: "\f06a";
    font-family: FontAwesome;
    margin-right: 10px;
    color: red;
}

@media (max-width: 480px) {
    .ef-btn.ef-primary-btn.ef-small-btn:not(#ef-view-summary) {
        width: auto!important;
        margin-top: 0px!important;
    }
}

#newsletter-check {
    font-size: 1.5rem;
}

input[name="newsletter"] {
    margin-right: 5px;
}

#cauthcard+p {
    font-size: 1.5rem;
}
